<div class="shadow">
</div>
<div class="dialog">
    <div class="dialog-content">
        <div class="dialog-header">
            <h4 class="dialog-title">Создать категорию</h4>
            <span class="close-button">&times;</span>
        </div>
        <div class="dialog-body">
            <p>Название категории</p>
            <input type="text" name="name" value="<%= name %>"/> 
        </div>
        <div class="buttons">
            <button class="cancel-button">Отмена</button>
            <button type="submit" class="submit-button">Создать</button>
        </div>
    </div>
</div>
